* {
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0.07em;
    color: #474747;
}

/*==== Typography Styles ====*/

h1, h2, h3, h4, h5, h6 {
    line-height: normal;
}

h1, h2, h3 {
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.25em; /*36px*/
}

h2 {
    font-size: 1.875em; /*30px*/
}

h3 {
    font-size: 1.5em; /*24px;*/
}

h4 {
    font-size: 1.25em; /*20px;*/
}

h5 {
    font-size: 1.125em; /*18px*/
}

h6 {
    font-size: 1em;
}

p {
    color: #666666;
    margin-bottom: 1.25em;
}

a {
    text-decoration: none;
    color: #4385f5;
    font-weight: bold;
}

mark {
    background-color: #f8ef6c;
    color: #343434;
    padding: 0.1em;
}

blockquote {
    font-size: 1.25em; /*20px;*/
    line-height: normal;
    color: #999999;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding: 0 1.25em;
    border-left: 5px solid #dfdfdf;
}

    blockquote p {
        color: #999999;
        font-family: 'Quicksand', sans-serif;
        font-weight: 400;
    }

.md-icon {
    font-weight: normal !important;
}

/*==== code & pre =====*/

pre {
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    padding: 20px;
    margin: 1.25em 0;
}

/*==== Sections - Page Header ====*/

header[role="banner"] {
    width: 1024px;
    height: 342px;
    margin: 0 auto;
    overflow: hidden;
    background: url(../Content/sample-image.jpg) top center no-repeat fixed;
}


    header[role="banner"] img {
        max-width: 100%;
        width: 100%;
    }


/*Lists*/
ol, ul {
    width: 75%;
    margin: 1.25em auto;
    display: block;
}

    ul ul, ol ol, ul ol, ol ul {
        margin-left: 20px;
    }

hr {
    border: 0;
    outline: 0;
    height: 1px;
    background: #ddd;
    width: 100%;
    margin: 1.25em 0;
}

/*==== Sections - Main Entry ====*/

article[role="main"] {
    width: 840px;
    margin: 0 auto;
    background: #ffffff;
    padding: 50px 92px;
    border-top: 0;
}

    article[role="main"] header {
        padding-bottom: 2.625em;
    }

        article[role="main"] header h1 {
            margin-bottom: 0.571em; /*24px*/
            font-size: 2.625em;
            line-height: normal;
        }

ul[role="contentinfo"] {
    width: 100%;
    display: block;
    height: 16px;
}

    ul[role="contentinfo"] li, article[role="main"] header section {
        float: left;
        font-size: 0.8em;
        line-height: normal;
        width: 33.333%;
        color: #999999;
        list-style: none;
    }

        ul[role="contentinfo"] li + li {
            text-align: center;
        }

        ul[role="contentinfo"] li:last-child {
            text-align: right;
        }

article[role="main"] header section {
    width: 100%;
    text-align: right;
}


footer {
    width: 1024px;
    margin: 1.25em auto;
    margin-bottom: 92px;
}

    footer nav ul {
        width: 100%;
        list-style: none;
    }

        footer nav ul li {
            float: left;
            width: 33.333%;
        }

            footer nav ul li + li {
                text-align: center;
            }

            footer nav ul li:last-child {
                text-align: right;
            }


aside[role="navigation"] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    width: 250px;
    background: #242424;
}

    aside[role="navigation"] #coverPhoto {
        width: 250px;
        height: 350px;
        background: url(../Content/coverPhoto.jpg) top left no-repeat fixed;
        position: relative;
        margin-bottom: 100px;
    }

#coverPhoto img {
    height: 122px;
    width: 122px;
    position: absolute;
    bottom: -61px;
    display: block;
}

aside[role="navigation"] nav {
    position: relative;
    padding: 0px 20px;
}

    aside[role="navigation"] nav hr {
        height: 1px;
        background: #303030;
    }

    aside[role="navigation"] nav ul {
        margin: 0;
        padding: 0;
    }

    aside[role="navigation"] nav li {
        list-style: none;
        margin-bottom: 10px;
        margin-left: 0;
        font-size: 0.9em;
    }

aside[role="navigation"] footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    text-align: center;
    color: #303030;
}

aside[role="navigation"] #menuButton {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 255px;
    display: block;
    height: 33px;
    width: 33px;
}


aside[role="navigation"].aside-closed {
    left: -260px;
    transition: left 450ms ease-in-out;
}

aside[role="navigation"].aside-open {
    left: 0px;
    transition: left 550ms ease-in-out;
}

aside[role="navigation"].aside-closed img, aside[role="navigation"].aside-closed nav {
    left: -124px;
    transition: left 950ms ease-in-out;
}

aside[role="navigation"].aside-open img {
    left: 64px;
    transition: left 850ms ease-in-out;
}

aside[role="navigation"].aside-open nav {
    left: 0px;
    transition: left 650ms ease-in-out;
}

/*===This is a one-off for now.*/

.ui-button {
    display: block;
    width: 100%;
    font-size: 1em;
    height: 32px;
}

    .ui-button:hover, .ui-button.ui-state-hover {
        cursor: pointer;
    }

    .ui-button .ui-icon {
        margin-right: 5px;
    }

    .ui-button.ui-button-icon-only {
        height: 24px;
        width: 24px;
        background: none;
        border: 0;
        outline: 0;
        overflow: visible;
    }

        .ui-button.ui-button-icon-only .ui-icon {
            height: 32px;
            width: 32px;
            font-size: 32px;
            overflow: visible;
        }






/*==== Footer =====*/
footer nav ul li a {
    color: #bbbbbb;
    font-size: 0.8em;
    line-height: normal;
}



/*clearfix*/

.clearfix:before, .container:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* IE 6/7 */
.clearfix {
    zoom: 1;
}


@-webkit-keyframes arrow-flip-in {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

@-webkit-keyframes arrow-flip-out {
    0% {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.animate-in {
    -webkit-animation-name: arrow-flip-in;
    -webkit-animation-duration: 650ms;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

.animate-out {
    -webkit-animation-name: arrow-flip-out;
    -webkit-animation-duration: 650ms;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}
